# Godot-specific ignores
.import/
./AllSkyFree/.import/
./AllSkyFree/export.cfg
./AllSkyFree/export_presets.cfg

# Mono-specific ignores
./AllSkyFree/.mono/
./AllSkyFree/mono_crash.*.json

# System/tool-specific ignores
.directory
*~